<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Zenkyu - 京都大学学生のための熱心な講義出席管理システム
  </title>
  <link rel="stylesheet" href="./jquery-ui/jquery-ui-1.11.2/jquery-ui.min.css"/>
</head>
<body onload="render_edit_todays_condition_view();">
  <div id="main"></div>
  <script type="text/template" id="schedule-view">
    <table>
      <tr><td></td><%= header %></tr>
      <%= contents %>
    </table>
    <div>
      <a href="javascript:void(0)" onclick="render_edit_todays_condition_view();return false;">今日...</a>
      <span>時間割</span>
    </div>
  </script>
  <script type="text/template" id="schedule-elem-view">
    <td><div id='<%= dow %><%= period %>'>
      <%= name %>
      <%= count %>
    </div></td>
  </script>
  </script>
  <script id="course-view" type="text/template">
    <div id="course-description">
      <div><%= dow %><%= period %>限</div>
      <div><%= name %></div>
      <div><%= present %>出席
           <%= canceled %>休講
           <%= absent %>自主休講
      </div>
    </div>
    <ul id="lecture-list">
      <%= lectures %>
    </ul>
    <div>
      <a href="javascript:void(0)" onclick="render_edit_todays_condition_view();return false;">今日...</a>
      <a href="javascript:void(0)" onclick="render_schedule_view();return false;">時間割</a>
    </div>
  </script>
  <script type="text/template" id="lecture-view">
    <div>
      <div><%= date %> <%= presence %></div>
      <div><%= memo %></div>
    </div>
  </script>
  <script id="edit-todays-conditions-view" type="text/template">
    <div>
      <div><%= month %>月<%= date %>日の出席状況</div>
      <div>
        <%= editor_list %>
      </div>
    </div>
    <div>
      <span>今日...</span>
      <a href="javascript:void(0)" onclick="render_schedule_view();return false;">時間割</a>
    </div>
    
    <div id="prompt"></div>
  </script>
  <script id="condition-editor-view" type="text/template">
    <div id='<%=id%>'>
      <%= period %>限 <%= name %>
    </div>
  </script>
  <script id="prompt-view" type="text/template">
    <div>
      <select id="prompt-presence" name="presence">
        <option value="present">出席</option>
        <option value="canceled">休講</option>
        <option value="absent">自主休講</option>
      </select>
    </div>
    <input type="text" name="memo" id="prompt-memo" placeholder="感想を入力...">
  </script>
  <script src="./sample.js"></script>
  <script src="./jquery.js"></script>
  <script src="./jquery-ui/jquery-ui-1.11.2/jquery-ui.min.js"></script>
  <script src="./underscore-min.js"></script>
  <script src="./app.js"></script>
</body>
</html>
